/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}


/* Alteração do tamanho da fonte para acessibilidade */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%; /* 14px */
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  
  img:first-child {
    padding: 0.813rem 1.563rem;
  }

  .infos {
    padding: 0.938rem 1.25rem;

    img {
      width: 1rem;
      height: 1rem;
    }

    .infoAccount {
      display: flex;
      align-items: center;
      flex-direction: row;

      p {
        font-size: 1rem;
        color: #172765;
      }

      img {
        margin-left: 0.625rem;
      }
    }

    .infoAgency {
      display: flex;
      flex-direction: row;

      p {
        font-size: 0.75rem;
        font-weight: 400;
        color: #622EE5;
      }

      span {
        font-size: 0.75rem;
        font-weight: 400;
        color: #622EE5;
        margin-left: 0.938rem;
      }

      img {
        margin-left: 0.813rem;
      }
    }
  }

  .infoTotal {
    padding: 1.125rem 0 1.063rem 0;

    img {
      margin-left: 0.625rem;
    }

    p {
      font-size: 0.75rem;
    }

    span {
      color: #69D531;
      margin-top: 2px;
      font-size: 1rem;
    }
  }

  .total {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}